<head>
    <meta charset="UTF-8">

</head>

<div class="custom-field">
    <h1>
        <span>
            Modulo Solicitud de Servicio / Registrar
        </span>
    </h1>

    <!---------------------------tabla------------------------------>
    <div style="background-color: #b443b431;">
        <form [formGroup]="trabForm" (ngSubmit)="AddTrab()">
            <!-----solicitud de servicion por fecha y cliente------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Solicitud de servicio:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="lugar" (change)="selectSoli($event)">
                        <option value="" disabled selected>Lista de solicitudes de servicio sin emision...</option>
                        <!-- Itera sobre la lista de personas en tu componente -->
                        <option *ngFor="let soli of ListaSoli" [value]="soli.seq_solicitud_servicio">
                            {{soli.fecha }} - {{ soli.personas?.nombres }} {{ soli.personas?.apellido_paterno }}
                        </option>
                    </select>
                </div>
            </div>
            <!-----tipo de mantenimiento-->
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Tipo mantenimento:</label>
                <div class="col-sm-5">
                    <select class="form-control" id="lugar" (change)="updateTipoMantenimiento($event)">
                        <option value="" disabled selected>Seleccionar tipo de mantenimiento...</option>
                        <!-- Itera sobre la lista de personas en tu componente -->
                        <option value="OTRO">OTRO</option>
                        <option value="MCP">MCP</option>
                        <option value="MCNP">MCNP</option>
                    </select>
                </div>
            </div>
            <!----date------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Fecha de Emision:</label>
                <div class="col-sm-3" style="position: relative;">
                    <input type="date" class="form-control" id="lugar" [(ngModel)]="fechaDesde"
                        formControlName="fecha_emicion">
                </div>
            </div>

            <!---descripcion------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Ubicacion Activo:</label>
                <div class="col-sm-5">
                    <textarea id="lugar" rows="4" cols="70" name="comment" formControlName="ubicacion_activo"
                        style="resize: none;" placeholder="describir el problema..."></textarea>
                </div>
            </div>

            <!-- Seleccionar atentendido-->
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Atendido:</label>
                <div class="col-sm-5">
                    <select class="form-control" id="lugar" (change)="updateAtendido($event)">
                        <option value="" disabled selected>Seleccionar...</option>
                        <option value="noatendido">No_Atendido</option>
                        <option value="atendido">Atendido</option>
                    </select>
                </div>
            </div>

            <div style="height: 20px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                <!--submit es para relacionar con el boton-->
            </div>
            <div style="height: 20px;"></div>
        </form>
    </div>
</div>