<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!---modulo lista-->
<div *ngIf="!mostrarEdicion" class="custom-field">
  <h1>
    <span>
      Modulo Orden de Trabajo / Lista
    </span>
  </h1>
  <!--buscar cliente----->
  <!-----------buscador--------->
  Cliente: <input type="text" id="f1" #xbuscar="ngModel" [(ngModel)]="buscar" name="buscar">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <!-----------buscador--------->
      fecha.Desde<input type="date" width="40px" id="fechaDesde5" [(ngModel)]="fechaDesde5" (change)="ListarSoliPorFecha5()">
      fecha.Hasta<input type="date" width="40px" id="fechaHasta5" [(ngModel)]="fechaHasta5" (change)="ListarSoliPorFecha5()">
      <!---------seleccionador------->

      <li class="nav-item dropdown" id="parrafo1">
        Atendido
        <a class="nav-link dropdown-toggle" href="#" id="rol" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" (click)="filtrarTrabajos(2)">Todos</a></li>
          <li><a class="dropdown-item" (click)="filtrarTrabajos(1)">Atendido</a></li>
          <li><a class="dropdown-item" (click)="filtrarTrabajos(0)">No Atendido</a></li>
        </ul>
      </li>
      <!-------------------marcador.---------------------->
      <nav id="juntar">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
              value="activo"  [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio1">Activo</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
              value="inactivo"  [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio2">Inactivo</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
              value="todos" checked  [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio2">Todos</label>
      </div>
      </nav>

    </div>
  </nav>
  <!---tabla trabajo-->
  <table class="table table-striped table-hover" border="2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="vertical-align: middle; text-align: center;">Numero <br> Orden de<br>trabajo</th>
        <th scope="col" style="vertical-align: middle; text-align: center;">fecha de <br> Solicitud</th>
        <th scope="col" style="vertical-align: middle; text-align: center;">Fecha de <br> Emision</th>
        <th scope="col" style="vertical-align: middle; text-align: center;">Cliente</th>
        <th scope="col" style="vertical-align: middle; text-align: center;">Estado</th>
        <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Editar</th>
        <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Eliminar</th>
        <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Activar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let listra of ListaTrabajo | filtrotrabajo: buscar | filtroatendido: filtroEstado | paginate: {itemsPerPage:3, currentPage:pag}; let pos=index">
        <th scope="row">{{listra.seq_orden_trabajo}}</th>
        <td scope="col" style="vertical-align: middle; text-align: center;"> {{listra.numero_orden_trabajo}} </td>
        <td scope="col" style="vertical-align: middle; text-align: center;"> {{listra.solicitudes_servicio?.fecha}}
        </td>
        <td scope="col" style="vertical-align: middle; text-align: center;"> {{listra.fecha_emicion}} </td>
        <td scope="col" style="vertical-align: middle; text-align: center;">
          {{listra.solicitudes_servicio?.personas?.nombres}}
          {{listra.solicitudes_servicio?.personas?.apellido_paterno}}
        </td>
        <td scope="col" style="vertical-align: middle; text-align: center;"> {{listra.cod_estado}} </td>

        <!----------------editar--------------->
        <td>
          <ng-container *ngIf="listra.cod_estado === 1; else disabledLink">
            <a href="javascript:void(0)" (click)="mostrarEdicion = true; modificarTrabajo(listra);">
              <img src="assets/editar3.png" class="xicono2">
            </a>
          </ng-container>
          <ng-template #disabledLink>
            <span>
              <img src="assets/editar3.png" class="xicono2" style="opacity: 0.5; cursor: not-allowed;">
            </span>
          </ng-template>
        </td>
        <!----------------eliminar------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modaldel5" data-bs-toggle="modal"
          (click)="MandaEstadoRece5(listra)">
            <img src="assets/delete1.png" class="xicono2">
          </a>

        </td>
        <!-------------------activar------------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modalhabi5" data-bs-toggle="modal"
          (click)="MandaEstadoRece5(listra)">
            <img src="assets/activar2.png" class="xicono2">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-----------------paginador--------------------->
  <div id="pag">
    <pagination-controls (pageChange)="pag=$event"></pagination-controls>
  </div>
</div>




<!-------edicion---------------------->
<div *ngIf="mostrarEdicion" class="custom-field">
  <h1>
    <span>
      Modulo Orden de Trabajo / Edicion
    </span>
  </h1>
  <!----realizar taresa de modificacion trabajo----------->
  <div style="background-color: #b443b431;">
    <form [formGroup]="trabForm" (ngSubmit)="modTra()">
      <!-----solicitud de servicion por fecha y cliente------>
      <div class="form-group row">
        <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Solicitud de servicio:</label>
        <div class="col-sm-6">
          <select class="form-control"  id="lugar" (change)="selectPersonaCli1($event)">
            <option value=""></option>
            <option *ngFor="let lisper of ListaSoli" [value]="lisper.seq_solicitud_servicio"
                    [selected]="personaNoCliente1 && personaNoCliente1.seq_solicitud_servicio== lisper.seq_solicitud_servicio">
                {{lisper.fecha}} - {{lisper.personas?.nombres}} {{ lisper.personas?.apellido_paterno}}
            </option>
        </select>
        </div>
      </div>

      <!-----tipo de mantenimiento-->
      <div class="form-group row">
        <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Tipo mantenimento:</label>
        <div class="col-sm-5">
          <select class="form-control" id="lugar" (change)="updateTipoMantenimiento($event)"
            formControlName="cod_tipo_mantenimiento">
            <option value="OTRO">OTRO</option>
            <option value="MCP">MCP</option>
            <option value="MCNP">MCNP</option>
          </select>
        </div>
      </div>
      <!----date------>
      <div class="form-group row">
        <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Fecha de Emision:</label>
        <div class="col-sm-3" style="position: relative;">
          <input type="date" class="form-control" id="lugar" formControlName="fecha_emicion">
        </div>
      </div>

      <!---descripcion------>
      <div class="form-group row">
        <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Ubicacion Activo:</label>
        <div class="col-sm-5">
          <textarea id="lugar" rows="1" cols="70" name="comment" formControlName="ubicacion_activo"
            style="resize: none;" placeholder="describir el problema..."></textarea>
        </div>
      </div>

      <!-- Seleccionar atentendido-->
      <div class="form-group row">
        <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Atendido:</label>
        <div class="col-sm-5">
          <select class="form-control" id="lugar" (change)="updateAtendido($event)">
                        <option value="noatendido">No_Atendido</option>
                        <option value="atendido">Atendido</option>
                    </select>
        </div>
      </div>
      <!--aquiiiiiiiiiiii tecnico ejecutante------------------>
      <div class="custom-field">
        <h1>
          <span>
            Detalle de Tecnico ejecutante
          </span>
        </h1>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <!--------imagen para modal-->
            <div class="ms-auto">
              <img src="assets/mas2.png" class="xicono" data-bs-toggle="modal" data-bs-target="#exampleModaltecnico">
            </div>
          </div>
        </nav>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">fecha Asignacion</th>
              <th scope="col">nombre persona ejecutante</th>
              <th scope="col">Responsable</th>
              <th scope="col">Estado</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let listec of ListaTecnico; let pos=index">
              <th scope="row"> {{listec.seq_tecnicos_ejecutantes}} </th>
              <td> {{listec.fecha_de_asignacion}} </td>
              <td> {{listec.personas?.nombres}} {{listec.personas?.apellido_paterno}} </td>
              <td> {{listec.cod_responsable}} </td>
              <td> {{listec.cod_estado}} </td>
              <!----------------eliminar------------->
              <td>
                <a href="javascript:void(0)" data-bs-target="#modaldel4" data-bs-toggle="modal"
                (click)="MandaEstadoTec(listec)">
                  <img src="assets/delete1.png" class="xicono2">
                </a>
              </td>
              
            </tr>
          </tbody>
        </table>
        <!-----------aquiiiii detalle activo---------->
        <div class="custom-field">
          <h1>
            <span>
              Detalle Activo
            </span>
          </h1>
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <!--------imagen para modal-->
              <div class="ms-auto">
                <img src="assets/mas2.png" class="xicono" data-bs-toggle="modal" data-bs-target="#exampleModalac">
              </div>
            </div>
          </nav>
  
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Indentificador Etiqueta Fisica</th>
                <th scope="col">nombre.Activo</th>
                <th scope="col">Estado</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lisOrden of ListaOrden; let pos=index">
                <th scope="row"> {{lisOrden.activos?.seq_activo}} </th>
                <td> {{lisOrden.activos?.id_etiqueta_fisica}} </td>
                <td> {{lisOrden.activos?.nombre}}</td>
                <td> {{lisOrden.activos?.cod_estado}} </td>
                <!----------------eliminar------------->
                <td>
                  <a href="javascript:void(0)" data-bs-target="#modaldel9" data-bs-toggle="modal"
                  (click)="MandaEstadoOrden(lisOrden)">
                    <img src="assets/delete1.png" class="xicono2">
                  </a>
  
                </td>
              
              </tr>
            </tbody>
          </table>
        </div>
        <!-----------botones------------>
      </div>
      <!-------aquiiiiiiiiiiii detalle activo-->
   

    <!---aquii botones -----------> 
      <div style="height: 20px;"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        <!--submit es para relacionar con el boton-->
      </div>
      <div style="height: 20px;"></div>
    </form>
  </div>
</div>


<!----adicionar tecnico------------------------------>
<div class="modal fade" id="exampleModaltecnico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Tecnico Ejecutante</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
          <form [formGroup]="tecForm" (ngSubmit)="AddTecnico()">
              <div class="modal-body">

                  <div class="form-group row" id="ss1">
                      <!----------fecha-->
                      <label for="colFormLabel" class="col-sm-2 col-form-label">Fecha.de.asignacion:</label> 
                      <div class="col-sm-10" id="a12">
                          <input type="date" class="form-control custom-input" id="fechaDesde" [(ngModel)]="fechaDesde"
                              formControlName="fecha_de_asignacion">

                      </div>
                      <!--------persona recepcionante---------->
                      <label for="colFormLabel" class="col-sm-2 col-form-label">Persona.Ejecutante:</label>
                      <div class="col-sm-10" id="a12">
                          <select class="form-control custom-input"  (change)="selectPersonaNoCliente($event)">
                              <option value="" disabled selected>Seleccionar Persona...</option>
                              <!-- Itera sobre la lista de personas en tu componente -->
                              <option *ngFor="let persona of ListaPersonaNoCliente" [value]="persona.seq_persona">
                                  {{persona.nombres }} {{persona.apellido_paterno }}
                              </option>
                          </select>
                      </div>
                      <!--------activo recepcionado---------->
                      <label for="colFormLabel" class="col-sm-2 col-form-label">Responsable:</label>
                      <div class="col-sm-6" id="a12">
                        <select class="custom-select" id="selee" (change)="updateResponsable($event)">
                          <option value="" disabled selected>Seleccionar Responsable</option>
                          <option value="no">NO</option>
                          <option value="si">SI</option>
                        </select>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                  <!--submit es para relacionar con el boton-->
              </div>
          </form>

      </div>
  </div>
</div>

<!-----------modal activos para orden de trabajo activo------------->
<div class="modal fade" id="exampleModalac" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar(asignar) Activo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
          <form [formGroup]="ordenForm" (ngSubmit)="AdicionarOrdentraActivo()">
              <div class="modal-body">

                  <div class="form-group row" id="ss1">
                      <!--------persona recepcionante---------->
                      <label for="colFormLabel" class="col-sm-2 col-form-label">Activo:</label>
                      <div class="col-sm-10" id="a12">
                          <select class="form-control custom-input"  (change)="selectActivos($event)">
                              <option value="" disabled selected>Seleccionar Activo...</option>
                              <!-- Itera sobre la lista de personas en tu componente -->
                              <option *ngFor="let acti of ListaActivos" [value]="acti.seq_activo">
                                  {{acti.id_etiqueta_fisica }} {{acti.nombre}}
                              </option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                  <!--submit es para relacionar con el boton-->
              </div>
          </form>

      </div>
  </div>
</div>

 <!-----------------modal eliminar tenico ejecuante-->
 <div class="modal fade" id="modaldel4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Eliminar Tecnico Ejecutante?</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="EliminarEstado12()" [disabled]="!elimnarGuardar12">Aceptar</button>
              <!--submit es para relacionar con el boton-->
          </div>
      </div>
  </div>
</div>

<!-----------------modal eliminar activo-->
<div class="modal fade" id="modaldel9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Eliminar el Activo?</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="EliminarEstado13()" [disabled]="!elimnarGuardar13">Aceptar</button>
              <!--submit es para relacionar con el boton-->
          </div>
      </div>
  </div>
</div>




<!----------modal trabajo------------------------>
<div class="modal fade" id="modalhabi5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Activar Orden de trabajo?</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="HabilitarEstado5()" [disabled]="!habilitarGuardar5">Aceptar</button>
              <!--submit es para relacionar con el boton-->
          </div>
      </div>
  </div>
</div>



<!-- Modal para Eliminar trabajo -->
<div class="modal fade" id="modaldel5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de eliminar Orden de Trabajo?</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="EliminarEstado5()" [disabled]="!elimnarGuardar5">Aceptar</button>
        <!--submit es para relacionar con el boton-->
      </div>
    </div>
  </div>
</div>