
<h2>Mision</h2>
<p>
    La carrera de Ingeniería Informática tiene por misión la formación integral y permanente de profesionales en ciencias de la computación para la creación, difusión y cultivo de las tecnologías de la información y de la comunicación, siendo líderes y agentes de cambio para promover la equidad y la justicia social.
</p>
<h2>Vision</h2>
<p>
    Formar profesionistas altamente capacitados, para resolver problemas que involucren hardware, software e interconexión de computadoras, conscientes de la sociedad y del medio ambiente en que se desenvuelven. Además de generar conocimiento a través de la investigación y desarrollo de tecnología
</p>