<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-personalizado">Lista de Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Verifica si hay elementos en la listaSolicitud -->
    <ng-container *ngIf="listaSolicitud.length > 0; else noSolicitudes">
      <!-- Itera sobre la listaSolicitud -->
      <ion-card *ngFor="let elemento of listaSolicitud">
        <ion-card-content>
          <p>Fecha de Solicitud: {{ elemento.fecha }}</p>
          <p>Descripción: {{ elemento.descripcion_problema }}</p>
          <p>Estado: {{ elemento.cod_estado }}</p>
          
        </ion-card-content>
      </ion-card>
    </ng-container>
  
    <!-- Mensaje cuando no hay solicitudes -->
    <ng-template #noSolicitudes>
      <p>No existen solicitudes disponibles.</p>
    </ng-template>
  </div>
  
</ion-content>
