<head>
    <meta charset="UTF-8">

</head>

<div class="custom-field">
    <h1>
        <span>
            Modulo Solicitud de Servicio / Registrar
        </span>
    </h1>

    <!---------------------------tabla------------------------------>
    <div style="background-color: #b443b431;">
        <form [formGroup]="soliForm" (ngSubmit)="AddSoli()">
            <!----date------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Fecha de Solicitud:</label>
                <div class="col-sm-3" style="position: relative;">
                    <input type="date" class="form-control" id="lugar" [(ngModel)]="fechaDesde" formControlName="fecha">
                </div>
            </div>

            <!---descripcion------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Descripcion del problema:</label>
                <div class="col-sm-5">
                    <textarea id="lugar" rows="4" cols="70" name="comment" formControlName="descripcion_problema"
                        style="resize: none;" placeholder="describir el problema..."></textarea>
                </div>
            </div>
            
            <!-- Seleccionar persona -->
            <!-- Seleccionar persona -->
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Persona Solicitante:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="lugar" (change)="selectPersona($event)">
                        <option value="" disabled selected>Seleccionar Cliente...</option>
                        <!-- Itera sobre la lista de personas en tu componente -->
                        <option *ngFor="let persona of ListaPersona" [value]="persona.seq_persona">
                            {{persona.nombres }} {{persona.apellido_paterno }}
                        </option>
                    </select>
                </div>
            </div>
            
            


            <div style="height: 20px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                <!--submit es para relacionar con el boton-->
            </div>
            <div style="height: 20px;"></div>
        </form>
    </div>
</div>