
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/mant1.png" width="65px" height="65px" />
    </div>

    <!------------------------ Usuario--------------------------- -->
    <form [formGroup]="regForm" >
      <input type="text" formControlName="xuser" class="fadeIn second"  placeholder="usuario"
      [ngClass]="{'is-invalid': fu.xuser.invalid && fu.xuser.touched}">
      <span *ngIf="fu.xuser.touched && fu.xuser.invalid" id="color" >
        <p *ngIf="fu.xuser.errors?.['required']" >
           Debe ingresar su usuario
        </p>
      </span>
     <!----------------------contrasena------------------------->
      <input type="password" formControlName="xcontrasena" class="fadeIn third"  placeholder="contraseña">
      <span *ngIf="fu.xcontrasena.touched && fu.xcontrasena.invalid" id="color" 
      [ngClass]="{'is-invalid': fu.xcontrasena.invalid && fu.xcontrasena.touched}">
        <p *ngIf="fu.xcontrasena.errors?.['required']" >
           Debe ingresar su contraseña
        </p>
      </span>



      <input type="submit"  (click)="Ingresar()" class="fadeIn fourth" value="Ingresar" [disabled]="regForm.invalid">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >Acceso al sistema de mantenimiento</a>
    </div>

  </div>
</div>


<!---(click)="Ingresar()"-->