<div class="custom-field">
    <h1>
        <span>
            Modulo Activos / Registrar
        </span>
    </h1>

    <!---------------------------tabla------------------------------>
    <div class="modal-footer" style="background-color: #e3f2fd;">
        <form [formGroup]="actiForm" (ngSubmit)="AddActivo()">
            <!----ID------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Identificador etiqueta
                    fisica:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lugar" placeholder="ingrese ID"
                        formControlName="id_etiqueta_fisica">
                </div>
            </div>
            <!---nombre------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lugar" placeholder="ingrese el nombre"
                        formControlName="nombre" [ngClass]="{'is-invalid': fu.nombre.invalid && fu.nombre.touched}">
                    <span *ngIf="fu.nombre.touched && fu.nombre.invalid" id="color">
                        <p *ngIf="fu.nombre.errors?.['required']">
                            Debe ingresar el nombre de activo
                        </p>
                    </span>
                </div>
            </div>
            <!---modelo------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Modelo:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="lugar" placeholder="ingrese el modelo"
                        formControlName="modelo">
                </div>
            </div>
            <!---marca------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Marca:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="lugar" placeholder="ingrese la marca"
                        formControlName="marca" [ngClass]="{'is-invalid': fu.marca.invalid && fu.marca.touched}">
                        <span *ngIf="fu.marca.touched && fu.marca.invalid" id="color">
                            <p *ngIf="fu.marca.errors?.['required']">
                                Debe ingresar marca
                            </p>
                        </span>
                </div>
            </div>
            <!---comentarios------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Comentarios:</label>
                <div class="col-sm-5">
                    <textarea id="lugar" rows="4" cols="50" name="comment" formControlName="comentarios" style="resize: none;"
                        [ngClass]="{'is-invalid': fu.comentarios.invalid && fu.comentarios.touched}"> Enter comment here...</textarea>
                        <span *ngIf="fu.comentarios.touched && fu.comentarios.invalid" id="color">
                            <p *ngIf="fu.comentarios.errors?.['required']">
                                Debe ingresar algun comentario...
                            </p>
                        </span>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="actiForm.invalid">Guardar</button>
                <!--submit es para relacionar con el boton-->
            </div>
            <div style="height: 20px;"></div>
        </form>
    </div>
</div>