<!---modulo lista-->
<div *ngIf="!mostrarEdicion" class="custom-field">
    <h1>
        <span>
            Modulo Orden de Mantenimiento / Lista
        </span>
    </h1>
    <!--buscar cliente----->
    <!-----------buscador--------->
    Cliente: <input type="text" id="f1" #xbuscar="ngModel" [(ngModel)]="buscar" name="buscar">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <!-----------buscador--------->
            fecha.Desde<input type="date" width="40px" id="fechaDesde" [(ngModel)]="fechaDesde"
                (change)="ListarSoliPorFecha()">
            fecha.Hasta<input type="date" width="40px" id="fechaHasta" [(ngModel)]="fechaHasta"
                (change)="ListarSoliPorFecha()">
            <!---------seleccionador------->

            <li class="nav-item dropdown" id="parrafo1">
                Atendido
                <a class="nav-link dropdown-toggle" href="#" id="rol" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" (click)="filtrarTrabajos(2)">Todos</a></li>
                    <li><a class="dropdown-item" (click)="filtrarTrabajos(1)">Atendido</a></li>
                    <li><a class="dropdown-item" (click)="filtrarTrabajos(0)">No Atendido</a></li>
                </ul>
            </li>
            <!-------------------marcador.---------------------->
            <nav id="juntar">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="activo" [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                    <label class="form-check-label" for="inlineRadio1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="inactivo" [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                    <label class="form-check-label" for="inlineRadio2">Inactivo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="todos" checked [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                    <label class="form-check-label" for="inlineRadio2">Todos</label>
                </div>
            </nav>

        </div>
    </nav>
    <!---tabla trabajo-->
    <table class="table table-striped table-hover" border="2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Orden de<br>trabajo</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">fecha de <br>Solicitud</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Fecha de <br>Finalizacion</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Tipo de <br>Solucion</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Duracion</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Comentarios</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Cliente</th>
                <th scope="col" style="vertical-align: middle; text-align: center;">Estado</th>
                <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Editar</th>
                <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Eliminar</th>
                <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Activar</th>
                <th id="xcentro" scope="col" style="vertical-align: middle; text-align: center;">Imprimir <br>Informe
                </th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="let lisman of ListaMan | filtroman: buscar |  filtromanestado: filtroEstado  | paginate: {itemsPerPage:5, currentPage:pag}; let pos=index">
                <th scope="row">{{lisman.seq_mantenimiento_correctivo}}</th>
                <td scope="col" style="vertical-align: middle; text-align: center;">
                    {{lisman.ordenes_trabajo?.numero_orden_trabajo}} </td>
                <td scope="col" style="vertical-align: middle; text-align: center;">
                    {{lisman.ordenes_trabajo?.solicitudes_servicio?.fecha}} </td>
                <td scope="col" style="vertical-align: middle; text-align: center;"> {{lisman.fecha_finalizacion}}</td>
                <td scope="col" style="vertical-align: middle; text-align: center;"> {{lisman.cod_tipo_solucion}}</td>
                <td scope="col" style="vertical-align: middle; text-align: center;"> {{lisman.duracion}}</td>
                <td scope="col" style="vertical-align: middle; text-align: center;">
                    {{lisman.comentarios}}</td>
                <td scope="col" style="vertical-align: middle; text-align: center;">
                    {{lisman.ordenes_trabajo?.solicitudes_servicio?.personas?.nombres}}
                    {{lisman.ordenes_trabajo?.solicitudes_servicio?.personas?.apellido_paterno}}</td>
                <td scope="col" style="vertical-align: middle; text-align: center;"> {{lisman.cod_estado}} </td>

                <!----------------editar--------------->
                <td>
                    <ng-container *ngIf="lisman.cod_estado === 1; else disabledLink">
                        <a href="javascript:void(0)" (click)="mostrarEdicion = true; modificarMan(lisman);">
                            <img src="assets/editar3.png" class="xicono2">
                        </a>
                    </ng-container>
                    <ng-template #disabledLink>
                        <span>
                            <img src="assets/editar3.png" class="xicono2" style="opacity: 0.5; cursor: not-allowed;">
                        </span>
                    </ng-template>
                </td>
                <!----------------eliminar------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modaldel" data-bs-toggle="modal"
                        (click)="MandaEstadoRece(lisman)">
                        <img src="assets/delete1.png" class="xicono2">
                    </a>

                </td>
                <!-------------------activar------------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modalhabi" data-bs-toggle="modal"
                        (click)="MandaEstadoRece(lisman)">
                        <img src="assets/activar2.png" class="xicono2">
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modalimprimir" data-bs-toggle="modal"
                        (click)="ImprimirDato(lisman)">
                        <img src="assets/imprimir2.png" class="xicono2">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-----------------paginador--------------------->
    <div id="pag">
        <pagination-controls (pageChange)="pag=$event"></pagination-controls>
    </div>
</div>


<!---------------aqui ---- edicion-->
<!---modulo lista-->
<div *ngIf="mostrarEdicion" class="custom-field">
    <h1>
        <span>
            Modulo Orden de Mantenimiento / Edicion
        </span>
    </h1>
    <form class="form-horizontal" [formGroup]="manForm" (ngSubmit)="modMant()">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Numero Orden de Trabajo</label>
                    <div class="col-sm-4">
                        <p class="form-control">{{ manForm.get('ordenes_trabajo.numero_orden_trabajo')?.value }}</p>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fecha Finalizacion</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" formControlName="fecha_finalizacion">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Falla</label>
                    <div class="col-sm-7">
                        <select class="form-control" (change)="selectPersonaCli1($event)">
                            <option value=""></option>
                            <option *ngFor="let lisper of ListaFalla" [value]="lisper.id_falla"
                                [selected]="personaNoCliente1 && personaNoCliente1.id_falla== lisper.id_falla">
                                {{lisper.nombre}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Comentario Detecion de falla</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="2" cols="" name="comment"
                            formControlName="comentario_deteccion_falla" style="resize: none;"></textarea>
                    </div>
                </div>


                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Descripcion de la causa</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="1" cols="" name="comment"
                            formControlName="descripcion_causa" style="resize: none;"></textarea>
                    </div>
                </div>

            </div>


            <!--parte derecha----------->
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fecha Emision</label>
                    <div class="col-sm-5">
                        <p class="form-control">{{ manForm.get('ordenes_trabajo.solicitudes_servicio.fecha')?.value }}
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tipo Solucion</label>
                    <div class="col-sm-4">
                        <select class="form-control" (change)="updateSolucion($event)"
                            formControlName="cod_tipo_solucion">
                            <option [value]="'Definitivo'"
                                [selected]="manForm.get('cod_tipo_solucion')?.value === 'Definitivo'">Definitivo
                            </option>
                            <option [value]="'Provisional'"
                                [selected]="manForm.get('cod_tipo_solucion')?.value === 'Provisional'">Provisional
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Descripcion de la solucion</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="1" cols="" name="comment"
                            formControlName="descripcion_solucion" style="resize: none;"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Duracion</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" formControlName="duracion">
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Comentarios</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="2" cols="" name="comment" formControlName="comentarios"
                            style="resize: none;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                <!--submit es para relacionar con el boton-->
            </div>
        </div>
    </form>
</div>

<!----------modal activar------------------------>
<div class="modal fade" id="modalhabi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Activar el mantenimineto correctivo?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="HabilitarEstado1()"
                    [disabled]="!habilitarGuardar1">Aceptar</button>
                <!--submit es para relacionar con el boton-->
            </div>
        </div>
    </div>
</div>



<!-- Modal para Eliminar Recepción Activo -->
<div class="modal fade" id="modaldel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de eliminar mantenimiento correctivo?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="EliminarEstado1()"
                    [disabled]="!elimnarGuardar1">Aceptar</button>
                <!--submit es para relacionar con el boton-->
            </div>
        </div>
    </div>
</div>


<!-----------modal imprimir datos perosona--------------->

<div class="modal fade" id="modalimprimir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" #modalContent>
                <div class="form-group row">
                    <table class="table" border="2px">
                        <tr>
                            <th colspan="2" class="modal-title fs-4" style="color: red; text-align: center;"><b>Informe
                                    Tecnico de Mantenimiento:</b></th>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Nombre Cliente:</b></td>
                            <td style="width: 40%;">{{ infonombre }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Apellido Cliente:</b></td>
                            <td style="width: 40%;">{{ infoap }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Comentario Detecion de falla:</b></td>
                            <td style="width: 40%;">{{ infoam }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Descripcion de la solucion:</b></td>
                            <td style="width: 40%;">{{ infocedula }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Fecha de Solicitud:</b></td>
                            <td style="width: 40%;">{{ infotelefono1 }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Fecha de Emision:</b></td>
                            <td style="width: 40%;">{{ infotelefono }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Falla:</b></td>
                            <td style="width: 40%;">{{infofotografia}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>ID:</b></td>
                            <td style="width: 40%;">{{ infoid }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Codigo Estado:</b></td>
                            <td style="width: 40%;">{{ infoestado }}</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="generarPDF()">Descargar
                    PDF</button>
                <!--submit es para relacionar con el boton-->
            </div>
        </div>
    </div>
</div>