<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIAR SESION CON: 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-content>
        <img src="assets/mant1.png" width="30px" height="30px" alt="">
        <form [formGroup]="regForm">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" formControlName="xuser" ></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"  formControlName="xcontrasena"></ion-input>
          </ion-item>
  
          <ion-button expand="full" type="submit"  (click)="Ingresar()" value="Ingresar" >Ingresar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
