
<div >
    <li><p> Usuario Conectado: {{nombrePersona}} {{nombrePersona1}} </p></li>
    <li><p> Materia:Taller1|Nestor Abila </p></li>
    <li><p> fecha: {{ fecha | date: "d MMM yyyy"}} </p></li>
</div>
