#imagen1 {
    border-radius: 150%;
    width: 30px;
    height: 30px;
} 
  

.custom-field {
    border: 1px solid;
    border-top: none;
    margin: 1px;
    padding: 8px;
}

.custom-field h1 {
    font: 16px normal;
    margin: -16px -8px 0;
}

.custom-field h1 span {
    float: left;
}

.custom-field h1:before {
    border-top: 1px solid;
    content: ' ';
    float: left;
    margin: 8px 2px 0 -1px;
    width: 12px;
}

.custom-field h1:after {
    border-top: 1px solid;
    content: ' ';
    display: block;
    height: 24px;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 8px;
}

/*------------------------------------------------------------------------------------------------*/
.xicono {
    float: right;
    width: 40px;
    height: 40px;
}

#f1 {
    width: 200px;
    border-radius: 5px;
}

#parrafo1 {

    border: 1px solid #000000;
    border-radius: 5px;
    width: 130px;
    text-decoration: none;
    list-style: none;

}

#juntar {
    width: 250px;
}

.xicono2 {
    width: 30px;
    height: 30px;
    margin: auto;
    display: flex;
}

#userbloqueo {
    margin-left: 10px;
    display: inline-flex;


}
#userdesbloqueo {
    margin-left: 55px;
    display: inline-flex;


}

.xicono3 {
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 5px;

}


#xcentro {
    text-align: center;
}



.del {
    width: 50px;
}

.tabla3 {
    width: 0px;
}

.esp {
    width: 100px;
}

input {
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}

#a1 {
    margin-top: 7px;
    padding-left: 90px;
}

#a3 {
    margin-top: -47px;
    padding-left: 157px;
}

#a2 {

    padding-left: 85px;
}

#a4 {
    position: relative;
    top: 4px;
}

.filtro {
    width: 400px;
    height: 90px;
}

.pa1 {
    margin: auto;
    display: flex;
}

#f1 {
    width: 300px;
}

#nest {
    text-align: center;
    height: 50px;
    padding: top;
    background-color: rgb(250, 250, 246);
}

#sosa {
    margin-top: 20px;
}

#pag {
    display: grid;
    margin: auto;
    place-items: center;
}


/*---boton--*/
.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button {
    margin: 0 10px;
    /* Ajusta el espacio horizontal entre los botones según tus necesidades */
}

#color{
    color: red;
}
#color1{
    color: red;
    margin-left: 156px;
    
}