<div class="custom-field">
  <h1>
    <span>
      Modulo Fallas / Lista
    </span>
  </h1>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <!-----------buscador--------->
      <input type="text" placeholder="Buscar por nombre.." id="f1" #xbuscar="ngModel" [(ngModel)]="buscar"
        name="buscar">

      <!-------------------marcador.---------------------->
      <nav id="juntar">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="activo"
            [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio1">Activo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="inactivo"
            [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio2">Inactivo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="todos" checked
            [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio2">Todos</label>
        </div>
      </nav>

      <!--------imagen para modal-->
      <img src="assets/mas2.png" class="xicono" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </div>
  </nav>
  <!---------------------------tabla------------------------------>
  <table class="table table-striped table-hover" border="2">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th id="xcentro" scope="col">Editar</th>
        <th id="xcentro" scope="col">Eliminar</th>
        <th id="xcentro" scope="col">Activar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let xdat of ListaFallas | filtro2:buscar | paginate: {itemsPerPage:5, currentPage:pag}; let pos=index">
        <th scope="row">{{xdat.id_falla}}</th>
        <td> {{xdat.nombre}} </td>
        <td>{{xdat.cod_estado}} </td>
        <!----------------editar--------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modificarModal" data-bs-toggle="modal"
            (click)="modificarFallas(xdat)">
            <img src="assets/editar3.png" class="xicono2">
          </a>
        </td>
        <!----------------eliminar------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modaldel" data-bs-toggle="modal"
            (click)="MandaEstadoFallas(xdat)">
            <img src="assets/delete1.png" class="xicono2">
          </a>

        </td>
        <!-------------------activar------------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modalhabi" data-bs-toggle="modal"
            (click)="MandaEstadoFallas(xdat)">
            <img src="assets/activar2.png" class="xicono2">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-----------------paginador--------------------->
  <div id="pag">
    <pagination-controls (pageChange)="pag=$event"></pagination-controls>
  </div>

</div>



<!------------------------------modal adicionar- persona-------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Nuevo Falla</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
      <form [formGroup]="faForm" (ngSubmit)="AddFallas()">
        <div class="modal-body">

          <div class="form-group row">
            <!----------cedula de identidad-->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Indentificador:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese el identicador"
                formControlName="id_falla" [ngClass]="{'is-invalid': fu.id_falla.invalid && fu.id_falla.touched}">
              <span *ngIf="fu.id_falla.touched && fu.id_falla.invalid" id="color">
                <p *ngIf="fu.id_falla.errors?.['required']">
                  Debe ingresar el indetificador
                </p>
                <p *ngIf="fu.id_falla.errors?.['pattern']">
                  solo se permiten numeros como identicador
                </p>
              </span>

            </div>
            <!--------nombre---------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese la falla"
                formControlName="nombre" [ngClass]="{'is-invalid': fu.nombre.invalid && fu.nombre.touched}">
              <span *ngIf="fu.nombre.touched && fu.nombre.invalid" id="color">
                <p *ngIf="fu.nombre.errors?.['required']">
                  Debe ingresar la falla
                </p>
                <p *ngIf="fu.nombre.errors?.['pattern']">
                  Solo se permiten de tipo char
                </p>
                <p *ngIf="fu.nombre.errors?.['minLength(2)']">
                  ingrese mas de dos char
                </p>
                <p *ngIf="fu.nombre.errors?.['Validators.maxLength']">
                  superaste el limite de char
                </p>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
            [disabled]="faForm.invalid">Guardar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </form>

    </div>
  </div>
</div>

<!------------------------------modal modificar fallas-------------------->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Falla</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
      <form [formGroup]="faForm1" (ngSubmit)="modFalllas()">
        <div class="modal-body">

          <div class="form-group row">
            <!----------cedula de identidad-->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Indentificador:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese el identicador"
                formControlName="id_falla" [ngClass]="{'is-invalid': fu.id_falla.invalid && fu1.id_falla.touched}">
              <span *ngIf="fu1.id_falla.touched && fu1.id_falla.invalid" id="color">
                <p *ngIf="fu1.id_falla.errors?.['required']">
                  Debe ingresar el indetificador
                </p>
                <p *ngIf="fu1.id_falla.errors?.['pattern']">
                  solo se permiten numeros como identicador
                </p>
              </span>

            </div>
            <!--------nombre---------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese la falla"
                formControlName="nombre" [ngClass]="{'is-invalid': fu1.nombre.invalid && fu1.nombre.touched}">
              <span *ngIf="fu1.nombre.touched && fu1.nombre.invalid" id="color">
                <p *ngIf="fu1.nombre.errors?.['required']">
                  Debe ingresar la falla
                </p>
                <p *ngIf="fu1.nombre.errors?.['pattern']">
                  Solo se permiten de tipo char
                </p>
                <p *ngIf="fu1.nombre.errors?.['minLength(2)']">
                  ingrese mas de dos char
                </p>
                <p *ngIf="fu1.nombre.errors?.['Validators.maxLength']">
                  superaste el limite de char
                </p>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
            [disabled]="faForm1.invalid">Guardar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </form>

    </div>
  </div>
</div>


<!-----------------modal eliminar estado-->
<div class="modal fade" id="modaldel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Eliminar la falla?</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="EliminarEstado()" [disabled]="!elimnarGuardar">Aceptar</button>
        <!--submit es para relacionar con el boton-->
      </div>
    </div>
  </div>
</div>

<!----------modal activar------------------------>
<div class="modal fade" id="modalhabi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Activar la Falla?</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="HabilitarEstado()" [disabled]="!habilitarGuardar">Aceptar</button>
        <!--submit es para relacionar con el boton-->
      </div>
    </div>
  </div>
</div>