
<nav class="navbar navbar-expand-lg" id="fondo">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/mant1.png" alt="" width="50px" height="40px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="parrafo">computer maintenance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="parrafo">empresa computadoras ABI</a>
        </li>

        <div>
          <select class="custom-select" id="parrafo" style="width: 80px; height: 40px;" name="nombre" (change)="HabilitarMenu($event)">
            <option value="" disabled selected>Rol</option>
            <option *ngFor="let rol of lisRol" value="{{rol.id_rol}}" style="color: black;">{{ rol.nombre }}</option>
          </select>
        </div>

      </ul>
      <form class="d-flex">

        <ul id="parrafo3"><a href="#">Cerrar-Sesion</a></ul>

      </form>

    </div>
  </div>
</nav>