
#parrafo{
    color: #0617fe ;
    font-family: Arial;
    font-style: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    margin-left: 100px;
}
#parrafo1{
    
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;
    margin-left: 300px;
}
#parrafo3{
    
    margin: 10px;
}


#rol{
    color: rgba(0, 0, 0, 0.933) ;
    font-family: Arial;
    font-style: 30px;
    font-weight: bold;
}
#fondo{
    background-image: url(/assets/fondo3.jpg) ;
    box-shadow: 8px 8px 10px rgba(75, 72, 72, 0.548);
}