#imagen1 {
    border-radius: 150%;
    width: 30px;
    height: 30px;
} 
  

.custom-field {
    border: 1px solid;
    border-top: none;
    margin: 1px;
    padding: 8px;
}

.custom-field h1 {
    font: 16px normal;
    margin: -16px -8px 0;
}

.custom-field h1 span {
    float: left;
}

.custom-field h1:before {
    border-top: 1px solid;
    content: ' ';
    float: left;
    margin: 8px 2px 0 -1px;
    width: 12px;
}

.custom-field h1:after {
    border-top: 1px solid;
    content: ' ';
    display: block;
    height: 24px;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 8px;
}


/*-----------------------------*/
#borde1{
    background-color: red;
    width: 470px;
    height: 180px;
}

.linea-vertical {
    width: 1.5px; /* Ancho de la línea vertical */
    height: 230px; /* Altura de la línea vertical */
    background-color: #000; /* Color de la línea */
    margin: 0 auto; /* Centrar la línea en su contenedor */
}
 #pag {
    display: grid;
    margin: auto;
    place-items: center;
}
#f1{
    margin-left: -10px;
    width: 300px;
    border-radius: 5px;
}

#juntar {
    width: 310px;
}
