<div class="custom-field">
    <h1>
        <span>
            Modulo Rol / Asignacion rol a usuario
        </span>
    </h1>
    <!---- body del html para trabajar------->
    <div class="d-flex bd-highlight">
        <!--------------div para listar usuarios perosonas y roles------->
        <div class="p-2 w-100 bd-highlight" id="block1">
            <nav class="navbar navbar-light" style="background-color: #78c575;">
                <div class="container-fluid">
                    <!----------------buscador de usuario----------->
                    <input type="text" placeholder="Buscar por nombre de usuario" id="f1" #xbuscar="ngModel"
                        [(ngModel)]="buscar" name="buscar">
                </div>
            </nav>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">nombre usuario</th>
                        <th scope="col">nombre y apellido persona</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="xasignar(xdat)" [class.selected]="seleccionarUsuario === xdat"
                        *ngFor="let xdat of ListaUsuPer | filtro3:buscar | paginate: {itemsPerPage:4, currentPage:pag}; let pos=index">
                        <th scope="row">
                            <input type="radio" [checked]="(seleccionarUsuario == xdat) && xpostUsu" name="radio1">
                        </th>
                        <td> {{xdat.usuario}} </td>
                        <td>{{xdat.personas?.nombres}}
                            {{xdat.personas?.apellido_paterno}}
                            {{xdat.personas?.apellido_materno}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-----------------paginador--------------------->
            <div id="pag">
                <pagination-controls (pageChange)="pag=$event"></pagination-controls>
            </div>

        </div>
        <!--------------div para centro para la linea vertical------->
        <div class="p-2 flex-shrink-1 bd-highlight" id="block2"><div class="linea-vertical"></div></div>
        <!--------------div para asignar rol------>
        <div class="p-2 w-100 bd-highlight" id="block1">
            <nav class="navbar navbar-light" style="background-color: #78c575;">
                <div class="container-fluid">
                    <!-------------filtra asignado, no asignado y todoo-------->
                    <nav id="juntar">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="activo"
                             [disabled]="seleccionarUsuario==null" (change)="generarmarca(1)">
                          <label class="form-check-label" for="inlineRadio1">Asignado</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="inactivo"
                          [disabled]="seleccionarUsuario==null" (change)=" generarmarca(0)">
                          <label class="form-check-label" for="inlineRadio2">No Asignado</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="todos" checked
                          [disabled]="seleccionarUsuario==null" (change)=" generarmarca(-1)">
                          <label class="form-check-label" for="inlineRadio2">Todos</label>
                        </div>
                      </nav>
                </div>
            </nav>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    *ngFor="let xdat1 of ListaRol | filtrorol: rolseleccionado:marcar ;let pos=index" (click)="asignarRol(xdat1)">
                        <th scope="row">
                            <input type="checkbox" [checked]="rolencontrado(xdat1)" [disabled]="seleccionarUsuario==null">
                        </th>
                        <td> {{xdat1.nombre}} </td>
                    </tr>
                    
                </tbody>
            </table>

        </div>
    </div>
</div>