
<app-cabecera></app-cabecera>
<div style="display: grid; grid-template-columns: 20% 80%; height: 80vh;">
    <div style="height: 100%;">
        <app-menu></app-menu>
    </div>
</div>
<div class="fooder py-2 bg-dark text-white-90 fixed-bottom">
	<app-pie></app-pie>
	</div>
<!--

<div >
	<router-outlet name="cabecera"></router-outlet>

</div>
<div >
	<router-outlet name="menu"></router-outlet>
</div>


<div class="fooder py-2 bg-dark text-white-90 fixed-bottom">
	<router-outlet name="pie"></router-outlet>
	</div>
	--->
