/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Estilo para el menú vertical */
#sidebar {
  height: 100%;
  overflow-y: auto; /* Habilitar la barra de desplazamiento vertical */
}

/* Estilo para el área de contenido */
#content {
  padding: 15px;
  height: 100%;
  overflow: auto; /* Habilitar la barra de desplazamiento vertical */
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    margin-top: 75px;
  }
  
  .page-content {
    width: 380%;
    margin-left: 18rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 480%;
    margin-left: 10px;
  
    
  }
  
  @media (max-width: 848px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
      width: 200px;
    }
    #content {
      width: 400px;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(10% - 17rem);
    }
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }
  
  .scrollbar-content {
    max-height: 100vh !important;
    overflow-y: auto !important;
    padding: 15px !important;
  }