<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">

	<div *ngIf="nombreRol=='Administrador' ">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
			Persona</p>
	
		<ul class="nav flex-column bg-white mb-0">
			<li class="nav-item">
				<a  class="nav-link text-dark font-italic" (click)="activarpersona()" routerLink="/listar">
					<i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
					lista
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link text-dark font-italic">
					<i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
	
				</a>
			</li>
	
		</ul>
	</div>

	
	<div *ngIf="nombreRol=='Administrador'">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
			Rol</p>
		<ul class="nav flex-column bg-white mb-0">
			<li class="nav-item">
				<a  class="nav-link text-dark font-italic" (click)="activarusuariorol()"
					routerLink="/asignacionRolUsuario">
					<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
					Aginacion Rol a Usuario
				</a>
			</li>
		</ul>
	</div>

	<div *ngIf="nombreRol=='Administrador' || nombreRol=='Tecnico'">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
			Fallas</p>
		<ul class="nav flex-column bg-white mb-0">
			<li class="nav-item">
				<a  class="nav-link text-dark font-italic" (click)="activarfalla()" routerLink="/ModuloFallas">
					<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
					lista
				</a>
			</li>
		</ul>
	</div>
	<!---solicitud-->
	<div *ngIf="nombreRol=='Administrador'  || nombreRol=='Planificador'  ||  nombreRol=='Cliente'">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
			Solicitud Servicio</p>
			<ul class="nav flex-column bg-white mb-0">
				<li class="nav-item">
					<a  class="nav-link text-dark font-italic" (click)="activarSer1()" routerLink="/listar">
						<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
						lista
					</a>
				</li>
			</ul>
			<ul class="nav flex-column bg-white mb-0">
				<li class="nav-item">
					<a href="#" class="nav-link text-dark font-italic" (click)="activarSer2()" routerLink="/registrar">
						<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
						Registro
					</a>
				</li>
			</ul>
	</div>
	<div>
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
			Activos</p>
			<ul class="nav flex-column bg-white mb-0">
				<li class="nav-item">
					<a href="#" class="nav-link text-dark font-italic" (click)="activaractivos1()" routerLink="/moduloactivos/listar">
						<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
						lista
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-dark font-italic" (click)="activaractivos()" routerLink="/moduloactivos/registrar" >
						<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
						Registrar
					</a>
				</li>
			</ul>
	</div>
		<!---orden de trabajo-->
		<div *ngIf="nombreRol=='Administrador'">
			<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
				Orden de Trabajo</p>
				<ul class="nav flex-column bg-white mb-0">
					<li class="nav-item">
						<a  class="nav-link text-dark font-italic" (click)="activarOrden1()" routerLink="/listar">
							<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
							lista
						</a>
					</li>
				</ul>
				<ul class="nav flex-column bg-white mb-0">
					<li class="nav-item">
						<a href="#" class="nav-link text-dark font-italic" (click)="activarOrden2()" routerLink="/registrar">
							<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
							Registro
						</a>
					</li>
				</ul>
		</div>

			<!---mantenimiento correctivo-->
		<div *ngIf="nombreRol=='Administrador'">
			<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Modulo
				Mantenimiento Correctivo</p>
				<ul class="nav flex-column bg-white mb-0">
					<li class="nav-item">
						<a  class="nav-link text-dark font-italic" (click)="activarMan1()" routerLink="/listar">
							<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
							lista
						</a>
					</li>
				</ul>
				<ul class="nav flex-column bg-white mb-0">
					<li class="nav-item">
						<a href="#" class="nav-link text-dark font-italic" (click)="activarMan2()" routerLink="/registrar">
							<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
							Registro
						</a>
					</li>
				</ul>
		</div>
			<!--principal-->
	<a href="#" (click)="activarhome()" routerLink="/home">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Menu
			Principal</p>

	</a>
	<a href="#" (click)="activarhome()" routerLink="/home">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Menu
			Principal</p>

	</a>
	<a href="#" (click)="activarhome()" routerLink="/home">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Menu
			Principal</p>

	</a>
	<a href="#" (click)="activarhome()" routerLink="/home">
		<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 nav-link  font-italic bg-light">Menu
			Principal</p>

	</a>
</div>
<div class="page-content p-2 with-scrollbar" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
        <i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small>
    </button>
		<div> <!-- Agrega más contenido para que la barra de desplazamiento sea necesaria -->
			<router-outlet></router-outlet>
		</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function() {
	  const sidebar = document.getElementById("sidebar");
  
	  // Detectar eventos de rueda (scroll) en el menú vertical
	  sidebar.addEventListener("wheel", function(e) {
		// Ajustar el desplazamiento vertical
		sidebar.scrollTop += e.deltaY;
		e.preventDefault();
	  }); 
	});
  </script>
  