
<!---modulo lista-->
<div *ngIf="!mostrarEdicion" class="custom-field">
    <h1>
        <span>
            Modulo Solicitud de Servicio / Lista
        </span>
    </h1>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <p id="xd1">seleccionar fecha:</p>
        <div class="container-fluid">
            <!-----------buscador--------->
            <input type="text" placeholder="Buscar por nombre cliente" id="f1" #xbuscar="ngModel"
                [(ngModel)]="buscar" name="buscar">
        </div>
         <!------fecha desde y hasta------------->
           <!------fecha desde y hasta------------->
        <div id="juntar2">
            Desde:<input type="date" class="fechaDesde1" id="fechaDesde" [(ngModel)]="fechaDesde" (change)="ListarSoliPorFecha()">
        </div>

        <div id="juntar3">
            Hasta:<input type="date" class="fechaDesde1" id="fechaHasta" [(ngModel)]="fechaHasta" (change)="ListarSoliPorFecha()">
        </div>
        <!-------------------marcador.---------------------->
        <nav id="juntar1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="activo"
                    [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                <label class="form-check-label" for="inlineRadio1">Activo</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="inactivo" [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                <label class="form-check-label" for="inlineRadio2">Inactivo</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="todos"
                    checked [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                <label class="form-check-label" for="inlineRadio2">Todos</label>
            </div>
        </nav>
    </nav>
    <!---------------------------tabla------------------------------>
    <table class="table table-striped table-hover" border="2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Descripcion.del.Porblema</th>
                <th scope="col">Estado</th>
                <th id="xcentro" scope="col">Editar</th>
                <th id="xcentro" scope="col">Eliminar</th>
                <th id="xcentro" scope="col">Activar</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let xdato of ListaSoli | filtrosol: buscar | paginate: {itemsPerPage:5, currentPage:pag}; let pos=index">
                <th scope="row">{{xdato.seq_solicitud_servicio}}</th>
                <td> {{xdato.fecha}} </td>
                <td>
                    {{xdato.personas?.nombres}}
                    {{xdato.personas?.apellido_paterno}}
                    {{xdato.personas?.apellido_materno}}
                </td>
                <td> {{xdato.descripcion_problema}} </td>
                <td>{{xdato.cod_estado}} </td>
                <!----------------editar--------------->
                <td>
                    <ng-container *ngIf="xdato.cod_estado === 1; else disabledLink">
                        <a href="javascript:void(0)" 
                            (click)="mostrarEdicion = true; modificarSoli(xdato);">
                            <img src="assets/editar3.png" class="xicono2">
                        </a>
                    </ng-container>
                    <ng-template #disabledLink>
                        <span>
                            <img src="assets/editar3.png" class="xicono2" style="opacity: 0.5; cursor: not-allowed;">
                        </span>
                    </ng-template>
                </td>
                <!----------------eliminar------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modaldel" data-bs-toggle="modal"
                        (click)="MandaEstadoSoli(xdato)">
                        <img src="assets/delete1.png" class="xicono2">
                    </a>

                </td>
                <!-------------------activar------------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modalhabi" data-bs-toggle="modal"
                        (click)="MandaEstadoSoli(xdato)">
                        <img src="assets/activar2.png" class="xicono2">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-----------------paginador--------------------->
    <div id="pag">
        <pagination-controls (pageChange)="pag=$event"></pagination-controls>
    </div>
</div>
<!-------modulo edicion-------------------->

<head>
    <meta charset="UTF-8">

</head>
<div *ngIf="mostrarEdicion" class="custom-field">
    <h1>
        <span>
            Modulo Solicitud de Servicio / Edicion
        </span>
    </h1>
    <!---------------------------tabla------------------------------>
    <div style="background-color: #b443b431;">
        <form [formGroup]="soliForm" (ngSubmit)="modSoli()">
            <!----date------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Fecha de Solicitud:</label>
                <div class="col-sm-3" style="position: relative;">
                    <input type="date" class="form-control" id="lugar" formControlName="fecha">
                </div>
            </div>

            <!---descripcion------>
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Descripcion del problema:</label>
                <div class="col-sm-5">
                    <textarea id="lugar" rows="2" cols="70" name="comment" formControlName="descripcion_problema"
                        style="resize: none;" placeholder="describir el problema..."></textarea>
                </div>
            </div>

            <!-- Seleccionar persona -->
            <div class="form-group row">
                <label id="lab1" for="inputEmail3" class="col-sm-2 col-form-label">Persona Solicitante:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="lugar" (change)="selectPersona($event)">
                        <option value=""></option>
                        <option *ngFor="let lisper1 of ListaPersonaCliente" [value]="lisper1.seq_persona"
                                [selected]="personaCliente1 && personaCliente1.seq_persona == lisper1.seq_persona">
                            {{lisper1.nombres }} {{lisper1.apellido_paterno}}
                        </option>
                    </select>
                </div>
            </div>

            <!-------------------------------------------------------------------------------------------->
            <!-------------------------------------------------------------------------------------------->
            <!-------------------------------------------------------------------------------------------->
            <!--------------detalle recepcion de activo-->
            <div class="custom-field">
                <h1>
                    <span>
                        Detalle de Recepcion de Activo
                    </span>
                </h1>
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                    <div class="container-fluid">
                        <!--------imagen para modal-->
                        <div class="ms-auto">
                            <img src="assets/mas2.png" class="xicono" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                        </div>
                    </div>
                </nav>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">fecha</th>
                            <th scope="col">nombre.persona</th>
                            <th scope="col">Indentificador</th>
                            <th scope="col">nombreActivo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                            <th scope="col">Activar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let xlista of ListaRece; let pos=index">
                            <th scope="row"> {{xlista.seq_recepcion_activo}} </th>
                            <td> {{xlista.fecha}} </td>
                            <td> {{xlista.personas?.nombres}} {{xlista.personas?.apellido_paterno}} </td>
                            <td> {{xlista.activos?.id_etiqueta_fisica}} </td>
                            <td> {{xlista.activos?.nombre}} </td>
                            <td> {{xlista.cod_estado}} </td>
                            <!----modificar recepciones activos-->
                            <td>
                                <a href="javascript:void(0)" data-bs-target="#modificarModalRece" data-bs-toggle="modal"
                                (click)="modRecepActivo(xlista)">
                                    <img src="assets/editar3.png" class="xicono2"> 
                                </a>
                            </td>
                            <!----------------eliminar------------->
                            <td>
                                <a href="javascript:void(0)" data-bs-target="#modaldel1" data-bs-toggle="modal"
                                (click)="MandaEstadoRece(xlista)">
                                    <img src="assets/delete1.png" class="xicono2">
                                </a>

                            </td>
                            <!-------------------activar------------------->
                            <td>
                                <a href="javascript:void(0)" data-bs-target="#modalhabi1" data-bs-toggle="modal"
                                (click)="MandaEstadoRece(xlista)">
                                    <img src="assets/activar2.png" class="xicono2">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="height: 20px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="modSoli()">Guardar</button>
            </div>
            <div style="height: 20px;"></div>
        </form>
    </div>
</div>

<!-----------------modal para adicionar- recepciones actvios---------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Nuevo Recepcion activo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
            <form [formGroup]="receForm" (ngSubmit)="AddRece()">
                <div class="modal-body">

                    <div class="form-group row" id="ss1">
                        <!----------fecha-->
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Fecha:</label> 
                        <div class="col-sm-10" id="a12">
                            <input type="date" class="form-control custom-input" id="fechaDesde" [(ngModel)]="fechaDesde"
                                formControlName="fecha">

                        </div>
                        <!--------persona recepcionante---------->
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Per.Recepcionante:</label>
                        <div class="col-sm-10" id="a12">
                            <select class="form-control custom-input"  (change)="selectActivos1($event)">
                                <option value="" disabled selected>Seleccionar Cliente...</option>
                                <!-- Itera sobre la lista de personas en tu componente -->
                                <option *ngFor="let persona of ListaPersonaNoCliente" [value]="persona.seq_persona">
                                    {{persona.nombres }} {{persona.apellido_paterno }}
                                </option>
                            </select>
                        </div>
                        <!--------activo recepcionado---------->
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Act.Recepcionado:</label>
                        <div class="col-sm-10" id="a12">
                            <select class="form-control custom-input" (change)="selectActivos($event)">
                                <option value="" disabled selected>Seleccionar activos..</option>
                                <!-- Itera sobre la lista de personas en tu componente -->
                                <option *ngFor="let listActivo of ListaActivos" [value]="listActivo.seq_activo">
                                    {{listActivo.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    <!--submit es para relacionar con el boton-->
                </div>
            </form>

        </div>
    </div>
</div>




<!----------------------modificar recepciones activos--------------------->
 
<div class="modal fade" id="modificarModalRece" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Recepcion Activo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
        <form [formGroup]="receForm1" (ngSubmit)="modRece()">
          <div class="modal-body">
  
            <div class="form-group row">
                <!-- Fecha -->
                <label for="fecha" class="col-sm-2 col-form-label">Fecha:</label>
                <div class="col-sm-10" id="a12">
                    <input type="date" class="form-control custom-input"formControlName="fecha">
                </div>
            
                <!-- Nombre -->
                <label for="nombre" class="col-sm-2 col-form-label">Persona.Recepcionante:</label>
                <div class="col-sm-10" id="a13">
                    <select class="form-control custom-input" formControlName="personas" (change)="selectPersonaCli1($event)">
                        <option value=""></option>
                        <option *ngFor="let lisper of ListaPersonaNoCliente" [value]="lisper.seq_persona"
                                [selected]="personaNoCliente1 && personaNoCliente1.seq_persona== lisper.seq_persona">
                            {{lisper.nombres }} {{lisper.apellido_paterno}}
                        </option>
                    </select>
                </div>
               
                 <!-- activos -->
                 <label for="nombre" class="col-sm-2 col-form-label">Activo.Recepcionado:</label>
                 <div class="col-sm-10" id="a13">
                    <select class="form-control custom-input" formControlName="activos" (change)="activosMod1($event)">
                        <option value=""></option>
                        <option *ngFor="let lisact of ListaActivos" [value]="lisact.seq_activo"
                                [selected]="activosMod && activosMod.seq_activo == lisact.seq_activo">
                            {{lisact.nombre }}
                        </option>
                    </select>
                 </div> 
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            <!--submit es para relacionar con el boton-->
          </div>
        </form>
  
      </div>
    </div>
  </div>
   
 <!-----------------modal eliminar estado-->
 <div class="modal fade" id="modaldel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Eliminar la falla?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="EliminarEstado()" [disabled]="!elimnarGuardar">Aceptar</button>
                <!--submit es para relacionar con el boton-->
            </div>
        </div>
    </div>
</div>

<!----------modal activar------------------------>
<div class="modal fade" id="modalhabi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Activar la Falla?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="HabilitarEstado()" [disabled]="!habilitarGuardar">Aceptar</button>
                <!--submit es para relacionar con el boton-->
            </div>
        </div>
    </div>
</div>



<!-- Modal para Eliminar Recepción Activo -->
<div class="modal fade" id="modaldel1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Eliminar Recepcion Activo?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="EliminarEstado1()" [disabled]="!elimnarGuardar1">Aceptar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para Activar Recepción Activo -->
  <div class="modal fade" id="modalhabi1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Activar Recepcion Activo?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="HabilitarEstado1()" [disabled]="!habilitarGuardar1">Aceptar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </div>
    </div>
  </div>
  

 