<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<div class="custom-field">
  <h1>
    <span>
      Modulo Persona / Lista
    </span>
  </h1>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <!-----------buscador--------->
      <input type="text" placeholder="Buscar por nombre/apellido.." id="f1" #xbuscar="ngModel" [(ngModel)]="buscar"
        name="buscar">
      <!---------seleccionador------->

      <li class="nav-item dropdown" id="parrafo1">
        <a class="nav-link dropdown-toggle" class="nav-link dropdown-toggle" href="#" id="rol" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Tipo de Persona
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="#">Tecnico</a></li>
        </ul>
      </li>
      <!-------------------marcador.---------------------->
      <nav id="juntar">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="activo"
            [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio1">Activo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="inactivo"
            [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio2">Inactivo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="todos" checked
            [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
          <label class="form-check-label" for="inlineRadio2">Todos</label>
        </div>
      </nav>

      <!--------imagen para modal-->
      <img src="assets/mas2.png" class="xicono" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </div>
  </nav>
  <!---------------------------tabla------------------------------>
  <table class="table table-striped table-hover" border="2">
    <thead>
      <tr>
        <th scope="col">Foto</th>
        <th scope="col">Apellidos y nombres</th>
        <th scope="col">Estado</th>
        <th id="xcentro" scope="col">Editar</th>
        <th id="xcentro" scope="col">Eliminar</th>
        <th id="xcentro" scope="col">Activar</th>
        <th id="xcentro" scope="col">Imprimir</th>
        <th id="xcentro" scope="col">Acceso de usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of lista |filtro1:buscar | paginate: {itemsPerPage:5, currentPage:pag}; let pos=index">
        <th scope="row"> <img src="http://localhost:8093/{{dat?.fotografia}}"  id="imagen1" loading="lazy"></th>
        <td> {{dat.nombres}} {{dat.apellido_paterno}} {{dat.apellido_materno}} </td>
        <td>{{dat.cod_estado}} </td>
        <!----------------editar------<img [src]="loadImg(dat.fotografia) | async" id="imagen1" loading="lazy">--------->
       <!-----<img src="http://localhost:8093/{{dat?.fotografia}}"-->
       
        <td>
          <a href="javascript:void(0)" data-bs-target="#modificarModal" data-bs-toggle="modal"
            (click)="modificarPersona(dat)">
            <img src="assets/editar3.png" class="xicono2">
          </a>
        </td>
        <!----------------eliminar------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modaldel" data-bs-toggle="modal"
            (click)="MandaEstadoPersona(dat)">
            <img src="assets/delete1.png" class="xicono2">
          </a>

        </td>
        <!-------------------activar------------------->
        <td>
          <a href="javascript:void(0)" data-bs-target="#modalhabi" data-bs-toggle="modal"
            (click)="MandaEstadoPersona(dat)">
            <img src="assets/activar2.png" class="xicono2">
          </a>
        </td>

        <!--------------------imprimir------------------>
        <td>
          <a href="javascript:void(0)" data-bs-target="#modalimprimir" data-bs-toggle="modal"
            (click)="ImprimirDato(dat)">
            <img src="assets/imprimir1.png" class="xicono2">
          </a>
        </td>
        <!-----------------user bloqueo y desbloqueo----------->
        <td>
          <a id="userdesbloqueo" href="javascript:void(0)" data-bs-target="#modalUsuario2" data-bs-toggle="modal"
            (click)="modificarUsuario(dat)">
            <img src="assets/user1bloqueo.png" class="xicono3">
          </a>
          <a id="userbloqueo" href="javascript:void(0)" data-bs-target="#modalUsuario1" data-bs-toggle="modal"
            (click)="crearUsuario(dat)">
            <img src="assets/user1desbloqueo.png" class="xicono3">
          </a>

        </td>
      </tr>


    </tbody>
  </table>
  <!-----------------paginador--------------------->
  <div id="pag">
    <pagination-controls (pageChange)="pag=$event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>

</div>

<!------------------------------modal adicionar- persona-------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Nuevo Personal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
      <form [formGroup]="regForm" (ngSubmit)="AddPersona()" novalidate>
        <div class="modal-body">

          <div class="form-group row">
            <!----------cedula de identidad-->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Cedula.de.Identidad:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su cedula de identidad"
                formControlName="cedula_identidad"
                [ngClass]="{'is-invalid': fu.cedula_identidad.invalid && fu.cedula_identidad.touched}">
              <span *ngIf="fu.cedula_identidad.touched && fu.cedula_identidad.invalid" id="color">
                <p *ngIf="fu.cedula_identidad.errors?.['required']">
                  Debe ingresar su cedula de indentidad
                </p>
              </span>

            </div>
            <!--------nombres---------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Nombres:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su nombre"
                formControlName="nombres" [ngClass]="{'is-invalid': fu.nombres.invalid && fu.nombres.touched}">
              <span *ngIf="fu.nombres.touched && fu.nombres.invalid" id="color">
                <p *ngIf="fu.nombres.errors?.['required']">
                  Debe ingresar su nombre
                </p>
                <p *ngIf="fu.nombres.errors?.['pattern']">
                  Solo se permiten de tipo char
                </p>
                <p *ngIf="fu.nombres.errors?.['minLength(2)']">
                  ingrese mas de dos char
                </p>
                <p *ngIf="fu.nombres.errors?.['Validators.maxLength']">
                  superaste el limite de char
                </p>
              </span>

            </div>
            <!-------apellido paterno----------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Apellido.Paterno:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese apellido paterno"
                formControlName="apellido_paterno"
                [ngClass]="{'is-invalid': fu.apellido_paterno.invalid && fu.apellido_paterno.touched}">
            </div>
            <span *ngIf="fu.apellido_paterno.touched && fu.apellido_paterno.invalid" id="color1">
              <p *ngIf="fu.apellido_paterno.errors?.['required']">
                Debe ingresar su apellido paterno
              </p>
              <p *ngIf="fu.apellido_paterno.errors?.['pattern']">
                Solo se permiten de tipo char
              </p>
              <p *ngIf="fu.apellido_paterno.errors?.['Validators.minLength']">
                ingrese mas de dos char
              </p>
              <p *ngIf="fu.apellido_paterno.errors?.['Validators.maxLength']">
                superaste el limite de char
              </p>
            </span>

            <!-------apellido materno----------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Apellido.Materno:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese apellido materno"
                formControlName="apellido_materno">
            </div>

            <!-------------------------fotografia-------->
            <div class="form-group">
              <label for="fotografia">Fotografía:</label>
              <div class="input-group">
                <input type="text" formControlName="fotografia"  id="addtextInput" class="form-control small-input">
                  <span class="input-group-text">
                    <label for="fotografia" class="mb-0">
                      <i class="fas fa-folder-open"></i> Browse
                    </label>
                  </span>
                  <input type="file" id="fotografia" style="display: none;" accept="image/jpeg, image/png, image/gif" (change)="CargarImagen($event)" >
              </div>
            </div>
            <!--<form [formGroup]="formSprache">
              <div class="form-group">
                <label id="a4" for="fotografia">Fotografía:</label>
                <div class="input-group">
                  <input type="text" [value]="urlImage | async" formControlName="imageUrl" #Img id="addtextInput"
                    class="form-control small-input">
                  <span class="input-group-text">
                    <label for="fotografia" class="mb-0">
                      <i class="fas fa-folder-open"></i> Browse
                    </label>
                  </span>
                  <input id="fotografia" style="display: none;" type="file" class="enviar"
                    (change)="imagePreview($event)">
                </div>
              </div>
            </form>-->
            <!----------tefelono celular----------------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Telefono.Celular:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su numero de celular"
                formControlName="telefono_celular">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
            [disabled]="regForm.invalid">Guardar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </form>

    </div>
  </div>
</div>

<!----------------modal--modificar------persona------------>
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Personal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
      <form [formGroup]="regForm" (ngSubmit)="modPersona()" novalidate>
        <div class="modal-body">

          <div class="form-group row">
            <!----------cedula de identidad-->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Cedula.de.Identidad:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su cedula de identidad"
                formControlName="cedula_identidad"
                [ngClass]="{'is-invalid': fu.cedula_identidad.invalid && fu.cedula_identidad.touched}">
              <span *ngIf="fu.cedula_identidad.touched && fu.cedula_identidad.invalid" id="color">
                <p *ngIf="fu.cedula_identidad.errors?.['required']">
                  Debe ingresar su cedula de indentidad
                </p>
              </span>

            </div>
            <!--------nombres---------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Nombres:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su nombre"
                formControlName="nombres" [ngClass]="{'is-invalid': fu.nombres.invalid && fu.nombres.touched}">
              <span *ngIf="fu.nombres.touched && fu.nombres.invalid" id="color">
                <p *ngIf="fu.nombres.errors?.['required']">
                  Debe ingresar su nombre
                </p>
                <p *ngIf="fu.nombres.errors?.['pattern']">
                  Solo se permiten de tipo char
                </p>
                <p *ngIf="fu.nombres.errors?.['minLength(2)']">
                  ingrese mas de dos char
                </p>
                <p *ngIf="fu.nombres.errors?.['Validators.maxLength']">
                  superaste el limite de char
                </p>
              </span>

            </div>
            <!-------apellido paterno----------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Apellido.Paterno:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese apellido paterno"
                formControlName="apellido_paterno"
                [ngClass]="{'is-invalid': fu.apellido_paterno.invalid && fu.apellido_paterno.touched}">
            </div>
            <span *ngIf="fu.apellido_paterno.touched && fu.apellido_paterno.invalid" id="color1">
              <p *ngIf="fu.apellido_paterno.errors?.['required']">
                Debe ingresar su apellido paterno
              </p>
              <p *ngIf="fu.apellido_paterno.errors?.['pattern']">
                Solo se permiten de tipo char
              </p>
              <p *ngIf="fu.apellido_paterno.errors?.['Validators.minLength']">
                ingrese mas de dos char
              </p>
              <p *ngIf="fu.apellido_paterno.errors?.['Validators.maxLength']">
                superaste el limite de char
              </p>
            </span>

            <!-------apellido materno----------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Apellido.Materno:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese apellido materno"
                formControlName="apellido_materno"
                [ngClass]="{'is-invalid': fu.apellido_materno.invalid && fu.apellido_materno.touched}">
            </div>
            <span *ngIf="fu.apellido_materno.touched && fu.apellido_materno.invalid" id="color1">
              <p *ngIf="fu.apellido_materno.errors?.['required']">
                Debe ingresar su apellido materno
              </p>
              <p *ngIf="fu.apellido_materno.errors?.['pattern']">
                Solo se permiten de tipo char
              </p>
              <p *ngIf="fu.apellido_materno.errors?.['Validators.minLength']">
                ingrese mas de dos char
              </p>
              <p *ngIf="fu.apellido_materno.errors?.['Validators.maxLength']">
                superaste el limite de char
              </p>
            </span>
            <!-------------------------fotografia-------->
            <div class="form-group">
              <label for="fotografia">Fotografía:</label>
              <div class="input-group">
                <input type="text" formControlName="fotografia"  id="addtextInput" class="form-control small-input">
                  <span class="input-group-text">
                    <label for="fotografia" class="mb-0">
                      <i class="fas fa-folder-open"></i> Browse
                    </label>
                  </span>
                  <input type="file" id="fotografia" style="display: none;" accept="image/jpeg, image/png, image/gif" (change)="CargarImagen($event)" >
              </div>
            </div>
           <!-- <form [formGroup]="formSprache">
              <div class="form-group">
                <label id="a4" for="fotografia">Fotografía:</label>
                <div class="input-group">
                  <input type="text" [value]="urlImage | async" formControlName="imageUrl" #Img id="addtextInput"
                    class="form-control small-input">
                  <span class="input-group-text">
                    <label for="fotografia" class="mb-0">
                      <i class="fas fa-folder-open"></i> Browse
                    </label>
                  </span>
                  <input id="fotografia" style="display: none;" type="file" class="enviar"
                    (change)="imagePreview($event)">
                </div>
              </div>
            </form> -->
            <!----------tefelono celular----------------->
            <label for="colFormLabel" class="col-sm-2 col-form-label">Telefono.Celular:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su numero de celular"
                formControlName="telefono_celular"
                [ngClass]="{'is-invalid': fu.telefono_celular.invalid && fu.telefono_celular.touched}">
            </div>
            <span *ngIf="fu.telefono_celular.touched && fu.telefono_celular.invalid" id="color1">
              <p *ngIf="fu.telefono_celular.errors?.['required']">
                Debe ingresar su telefono celular
              </p>
              <p *ngIf="fu.telefono_celular.errors?.['pattern']">
                Solo se permiten de tipo number
              </p>
            </span>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
            [disabled]="regForm.invalid">Modificar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </form>

    </div>
  </div>
</div>

<!-----------------modal eliminar-->
<div class="modal fade" id="modaldel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-7" id="exampleModalLabel">Estas seguro de Eliminar a: &nbsp;{{ perInfo }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="EliminarEstado()">Eliminar
          Estado</button>
        <!--submit es para relacionar con el boton-->
      </div>
    </div>
  </div>
</div>

<!----------modal activar------------------------>
<div class="modal fade" id="modalhabi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-7" id="exampleModalLabel">Estas seguro de Habilitar a: &nbsp;{{ perInfo }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="HabilitarEstado()">Habilitar
          Estado</button>
        <!--submit es para relacionar con el boton-->
      </div>
    </div>
  </div>
</div>

<!-----------modal imprimir datos perosona--------------->

<div class="modal fade" id="modalimprimir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" #modalContent>
        <div class="form-group row">
          <table class="table" border="2px">
            <tr>
              <th colspan="2" class="modal-title fs-4" style="color: red; text-align: center;"><b>Datos de la Persona:</b></th>
            </tr>
            <tr >
              <td style="text-align: right;" ><b>Nombres:</b></td>
              <td style="width: 40%;">{{ infonombre }}</td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>Apellido Paterno:</b></td>
              <td style="width: 40%;">{{ infoap }}</td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>Apellido Materno:</b></td>
              <td style="width: 40%;">{{ infoam }}</td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>Cedula de Identidad:</b></td>
              <td style="width: 40%;">{{ infocedula }}</td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>Telefono Celular:</b></td>
              <td style="width: 40%;">{{ infotelefono }}</td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>Fotografía:</b></td>
              <td style="width: 40%;"><img src="http://localhost:8093/{{infofotografia}}" class="foto-persona"></td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>ID:</b></td>
              <td style="width: 40%;">{{ infoid }}</td>
            </tr>
            <tr>
              <td style="text-align: right;" ><b>Codigo Estado:</b></td>
              <td style="width: 40%;">{{ infoestado }}</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="generarPDF()">Descargar
          PDF</button>
        <!--submit es para relacionar con el boton-->
      </div>
    </div>
  </div>
</div>


<!-----------modal adiconar usuario -->
<!--Adicionar usuario-->

<div class="modal fade" id="modalUsuario1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar Dato de Acceso a Persona</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
      <form [formGroup]="usuForm" (ngSubmit)="AddUsu()">
        <div class="modal-body">

          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su usuario"
                formControlName="usuario"
                [ngClass]="{'is-invalid': validarUsu.usuario.invalid && validarUsu.usuario.touched}">
              <span *ngIf="validarUsu.usuario.touched && validarUsu.usuario.invalid" id="color">
                <p *ngIf="validarUsu.usuario.errors?.['required']">
                  Debe ingresar su usuario
                </p>
              </span>
            </div>
            <!-----------------contraseña------------------>
            <label for="contrasena" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10" id="a2">
              <input type="password" class="form-control" id="contrasena" placeholder="Ingrese nuevo contraseña"
                formControlName="contrasena"
                [ngClass]="{'is-invalid': validarUsu.contrasena.invalid && validarUsu.contrasena.touched}">
              <span *ngIf="validarUsu.contrasena.touched && validarUsu.contrasena.invalid" id="color">
                <p *ngIf="validarUsu.contrasena.errors?.['required']">
                  Debe ingresar su contraseña
                </p>
                <p *ngIf="validarUsu.contrasena.errors?.['pattern']">
                  La contraseña al menos debe tener 8 caracteres
                </p>
              </span>
            </div>
            <!-----------------repetircontraseña------------------>
            <label class="col-sm-2 col-form-label">Repetir.Contraseña:</label>
            <div class="col-sm-10" id="a2">
              <input type="password" class="form-control" placeholder="Repita la contraseña"
                formControlName="repetircontrasena" (keyup)="confirmarPassword()">
              <span *ngIf="Valpassword && (validarUsu.contrasena.touched || validarUsu.repetircontrasena.touched )"
                id="color">
                No conciden las contraseñas
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="usuForm.invalid || Valpassword || !usuForm.get('repetircontrasena').value">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-----------modal modficar usuario -->
<!--modificar usuario-->

<div class="modal fade" id="modalUsuario2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
      <form [formGroup]="usuForm" (ngSubmit)="ModUsuario()">
        <div class="modal-body">

          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10" id="a2">
              <input type="text" class="form-control" id="colFormLabel" placeholder="ingrese su usuario"
                formControlName="usuario"
                [ngClass]="{'is-invalid': validarUsu.usuario.invalid && validarUsu.usuario.touched}">
              <span *ngIf="validarUsu.usuario.touched && validarUsu.usuario.invalid" id="color">
                <p *ngIf="validarUsu.usuario.errors?.['required']">
                  Debe ingresar su usuario
                </p>
              </span>
            </div>
            <!-----------------contraseña------------------>
            <label for="contrasena" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10" id="a2">
              <input type="password" class="form-control" id="contrasena" placeholder="Ingrese nuevo contraseña"
                formControlName="contrasena"
                [ngClass]="{'is-invalid': validarUsu.contrasena.invalid && validarUsu.contrasena.touched}">
              <span *ngIf="validarUsu.contrasena.touched && validarUsu.contrasena.invalid" id="color">
                <p *ngIf="validarUsu.contrasena.errors?.['required']">
                  Debe ingresar su contraseña
                </p>
                <p *ngIf="validarUsu.contrasena.errors?.['pattern']">
                  La contraseña al menos debe tener 8 caracteres
                </p>
              </span>
            </div>
            <!-----------------repetircontraseña------------------>
            <label class="col-sm-2 col-form-label">Repetir.Contraseña:</label>
            <div class="col-sm-10" id="a2">
              <input type="password" class="form-control" placeholder="Repita la contraseña"
                formControlName="repetircontrasena" (keyup)="confirmarPassword()">
              <span *ngIf="Valpassword && (validarUsu.contrasena.touched || validarUsu.repetircontrasena.touched )"
                id="color">
                No conciden las contraseñas
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="usuForm.invalid || Valpassword || !usuForm.get('repetircontrasena').value">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
