<div class="custom-field">
    <h1>
        <span>
            Modulo Activos / Lista
        </span>
    </h1>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <!-----------buscador--------->
            <input type="text" placeholder="Buscar por nombre o etiqueta fisica" id="f1" #xbuscar="ngModel" [(ngModel)]="buscar"
                name="buscar">
            </div>
            <!-------------------marcador.---------------------->
            <nav id="juntar">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="activo" [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                    <label class="form-check-label" for="inlineRadio1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="inactivo" [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                    <label class="form-check-label" for="inlineRadio2">Inactivo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="todos" checked [(ngModel)]="visualizar" (change)="cambiarFiltro('x')">
                    <label class="form-check-label" for="inlineRadio2">Todos</label>
                </div>
            </nav>
    </nav>
    <!---------------------------tabla------------------------------>
    <table class="table table-striped table-hover" border="2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Etiqueta.Fisica</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Comentario</th>
                <th scope="col">Estado</th>
                <th id="xcentro" scope="col">Editar</th>
                <th id="xcentro" scope="col">Eliminar</th>
                <th id="xcentro" scope="col">Activar</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let xdato of ListaActivos | filtroactivos: buscar | paginate: {itemsPerPage:5, currentPage:pag}; let pos=index">
                <th scope="row">{{xdato.seq_activo}}</th>
                <td> {{xdato.id_etiqueta_fisica}} </td>
                <td> {{xdato.nombre}} </td>
                <td> {{xdato.marca}} </td>
                <td> {{xdato.modelo}} </td>
                <td> {{xdato.comentarios}} </td>
                <td>{{xdato.cod_estado}} </td>
                <!----------------editar--------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modificarModal" data-bs-toggle="modal"
                        (click)="modificarActivo(xdato)">
                        <img src="assets/editar3.png" class="xicono2">
                    </a>
                </td>
                <!----------------eliminar------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modaldel" data-bs-toggle="modal"
                        (click)="MandaEstadoActivo(xdato)">
                        <img src="assets/delete1.png" class="xicono2">
                    </a>

                </td>
                <!-------------------activar------------------->
                <td>
                    <a href="javascript:void(0)" data-bs-target="#modalhabi" data-bs-toggle="modal"
                        (click)="MandaEstadoActivo(xdato)">
                        <img src="assets/activar2.png" class="xicono2">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-----------------paginador--------------------->
    <div id="pag">
        <pagination-controls (pageChange)="pag=$event"></pagination-controls>
    </div>
</div>

<!------------------------------modal modificar solicitud-------------------->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Activos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- agregamos campos de cedula nombre...ect y guardar con un boton -->
        <form [formGroup]="actiForm" (ngSubmit)="modAct()">
          <div class="modal-body">
              <!------------identificador-------------->
            <div class="form-group row">
              <label for="colFormLabel" class="col-sm-2 col-form-label">Identificador:</label>
              <div class="col-sm-10" id="a2">
                  <div class="col-sm-6">
                    <input input type="text" class="form-control" id="colFormLabel" placeholder="ingrese identificador"
                    formControlName="id_etiqueta_fisica" >
                </div>
              </div>
              <!------------nombre--------------->
              <label for="colFormLabel" class="col-sm-2 col-form-label">Nombre:</label>
              <div class="col-sm-10" id="a2">
                  <div class="col-sm-6">
                    <input input type="text" class="form-control" id="colFormLabel" placeholder="ingrese el nombre"
                    formControlName="nombre" [ngClass]="{'is-invalid': fu.nombre.invalid && fu.nombre.touched}">
                    <span *ngIf="fu.nombre.touched && fu.nombre.invalid" id="color">
                        <p *ngIf="fu.nombre.errors?.['required']">
                            Debe ingresar el nombre de activo
                        </p>
                    </span>
                </div>
              </div>
              <!------------marca--------------->
              <label for="colFormLabel" class="col-sm-2 col-form-label">Marca:</label>
              <div class="col-sm-10" id="a2">
                  <div class="col-sm-6">
                    <input input type="text" class="form-control" id="colFormLabel" placeholder="ingrese la marca"
                    formControlName="marca" [ngClass]="{'is-invalid': fu.marca.invalid && fu.marca.touched}">
                    <span *ngIf="fu.marca.touched && fu.marca.invalid" id="color">
                        <p *ngIf="fu.marca.errors?.['required']">
                            Debe ingresar marca
                        </p>
                    </span>
                </div>
              </div>
              <!------------modelo--------------->
              <label for="colFormLabel" class="col-sm-2 col-form-label">Modelo:</label>
              <div class="col-sm-10" id="a2">
                  <div class="col-sm-6">
                    <input input type="text" class="form-control" id="colFormLabel" placeholder="ingrese el modelo"
                    formControlName="modelo" >
                </div>
              </div>
    
              <!-----------------comentario------------------>
              <label for="contrasena" class="col-sm-2 col-form-label">Comentarios:</label>
              <div class="col-sm-10" id="a2">
                  <textarea id="lugar1" rows="4" cols="35" name="comment" formControlName="comentarios"
                        style="resize: none;" placeholder="describir un comentario..." 
                        [ngClass]="{'is-invalid': fu.comentarios.invalid && fu.comentarios.touched}"></textarea>
                        <span *ngIf="fu.comentarios.touched && fu.comentarios.invalid" id="color">
                            <p *ngIf="fu.comentarios.errors?.['required']">
                                Debe ingresar algun comentario...
                            </p>
                        </span>
              </div>
              <!-----------------repetircontraseña------------------>
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="actiForm.invalid">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  


<!-----------------modal eliminar estado-->
<div class="modal fade" id="modaldel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Eliminar Activo?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="EliminarEstado()" [disabled]="!elimnarGuardar">Aceptar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </div>
    </div>
  </div>
  
  <!----------modal activar------------------------>
  <div class="modal fade" id="modalhabi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-7" id="exampleModalLabel">Seguro de Activar Activo?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="HabilitarEstado()" [disabled]="!habilitarGuardar">Aceptar</button>
          <!--submit es para relacionar con el boton-->
        </div>
      </div>
    </div>
  </div>
